*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
}
.admin-login{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background: rgb(204, 203, 203);
}
.login-wrapper {
    width: 380px;
    background: #fff;
    border-radius: 5px;
}
.login-wrapper .wrapper-title{
    line-height: 80px;
    background-color: #0e6b59;
    padding-left: 20px;
    border-radius: 5px 5px 0 0;
    font-size: 25px;
    color: #fff;
    font-weight: 600;
}
.login-wrapper .wrapper-form{
    padding: 30px 20px 25px 20px;
}
.login-wrapper .wrapper-row {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}
.wrapper-form .wrapper-row .input-type-1{
    height: 100%;
    width: 100%;
    padding-left: 60px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(204, 203, 203);
    font-size: 16px;
}
.wrapper-form .row-button .submit-login-1{
    padding-left: 0px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background: #16a085;
    border: 1px solid #16a085;
}
.submit-login-1{
    height: 100%;
    width: 100%;
    padding-left: 60px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(204, 203, 203);
    font-size: 16px;
    cursor: pointer;
}
.wrapper-form .row-button .submit-login-1:hover{
    background: #fff;
    color: #0e6b59;
}
.wrapper-form .wrapper-row i {
    position: absolute;
    width: 47px;
    display: flex;
    height: 100%;
    background: #0d705c;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    border-radius: 5px 0 0 5px;
}
.error-message {
    font-size: 18px;
    text-align: center;
}


/* side bar styling */
.wrapper{
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    height: 100%;
}
.sidebar{
    width: 250px;
    height: 100%;
    background: #1b1b1b;
    padding: 30px 0px;
    position: fixed;
    left: 0px;
    transition: left 0.4s ease;
}
.sidebar h2{
    position: relative;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    top: -20px;
}

.menus{
    width: 250px;
    position: fixed;
    top: 45px;
    height: 100%;
    color: #fff;
    left: 0px;
    transition: left 0.4s ease;
    overflow: scroll;
}
.menus::-webkit-scrollbar{
    width: 0;
}
nav ul {
    width: 100%;
    list-style: none;
}
nav ul li {
    line-height: 60px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
nav ul li:last-child{
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
nav ul li a { 
    position:relative;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}
nav ul li a:hover{
    color: #1ba085;
    background: #3a3a3a;
    width: 250px;
    border-left-color: rgb(11, 206, 206);
}
nav ul li a i{
    padding-right: 10px;
    font-size: 18px;
    color: #fff;
}
nav ul ul{
    position: static;
    display: none;
}
nav ul .show-1.show,.show-2.show,.show-3.show{
    display: block;
}
nav ul ul li{
    line-height: 42px;
    border-bottom: none;
}
nav ul ul li a {
    font-size: 17px;
    color: #e6e6e6;
    padding-left: 60px;
    padding-right: 10px;
}
nav ul li a span{
    position: absolute;
    top:  50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
}
nav ul li a span.rotate{
    transform: translateY(-50%) rotate(-180deg);
}
.top-nav{
    position: absolute;
    display: flex;
    align-items: center;
    color: #fff;
    top: 0px;
    left: 250px;
    height: 45px;
    width: 100%;
    background: #0e6b59;
    border-radius: 3px;
    cursor: pointer;
    transition: left 0.4s ease;
}
.bars.click,.top-nav.click{
    left: 0px;
}

.bars.click span.fas::before{
    content: '\f00d';
}
.top-nav span.fas{
    position: relative;
    text-align: center;
    color: #fff;
    background: #0e6b59;
    width: 45px;
    height: 45px;
    font-size: 28px;
    line-height: 45px;
} 
.sidebar.hide-menus, .menus.hide-menus{
    left: -250px;
}
.mytitle {
    margin-left: 40px;
}
.user-log{
    display: flex;
    position: relative;
    left: 800px;
    color: #fff;
    align-items: center;
    overflow: hidden;
}
.user-log i.logged-in{
    padding-right: 10px;
    font-size: 15px;
}
.user-log span.fa{
    font-size: 15px;
    padding-left: 10px;
}
.user-menu{
    display: none;
    position: relative;
    list-style: none;
    left: 660px;
    top: 45px;
    background: #3a3a3a;
    padding: 10px;
    max-height: 70px;
}
.user-menu li a{
    color: #fff;
}
.user-menu li a i{
    padding-right: 10px;
    padding-bottom: 15px;
}
.user-menu.show-me{
    display: block;
}
.sub-wrapper{
    position: absolute;
    width: 100%;
    left: 260px;
    top: 75px;
    display: flex;
    align-items: center;
    transition: left 0.4s ease;
    overflow: hidden;
}
.main-header1{
    margin-bottom: 10px;
}
.sub-wrapper.click{
    left: 10px;
}

.line{
    height: 1px;
    width: 100%;
    position: absolute;
    font-size: 50px;
    margin-top: 35px;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    color: green;
    
}
.container-1 {
    width: 80%;
    padding-left: 7px;
    padding-right: 7px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 260px;
    top: 115px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -7px;
    margin-right: -7px;   
    margin-top: 10px;
}
.col{
    position: relative;
    padding-left: 7px;
    padding-right: 7px;
    /* width: 20%; */
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.small-box {
    display: flex;
    box-sizing: border-box;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    border: 1px solid #dee2e6 !important;
    padding: 20px;
}
.small-box > .inner{
    padding: 10px;
}
.inner{
    width: 100%;
    margin-right: 20px;
}
.inner h3{
    padding-bottom: 10px;
}
.col > .small-box .icon {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    text-align: end;
}
.small-box > .icon{
    color: rgba(0, 0, 0, .15);
    z-index: 0;
}
.small-box .icon > i.icon-fa{
    text-align: end;
    font-size: 70px;
    top: 20px;
    margin-left: 30px;
}
.col .small-box .icon > i.icon-fa{
    text-align: end;
}

