*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.admin-login{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background: rgb(204, 203, 203);
}
.login-wrapper {
    width: 380px;
    background: #fff;
    border-radius: 5px;
}
.login-wrapper .wrapper-title{
    line-height: 80px;
    background-color: #0e6b59;
    padding-left: 20px;
    border-radius: 5px 5px 0 0;
    font-size: 25px;
    color: #fff;
    font-weight: 600;
}
.login-wrapper .wrapper-form{
    padding: 30px 20px 25px 20px;
}
.login-wrapper .wrapper-row {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}
.wrapper-form .wrapper-row .input-type-1{
    height: 100%;
    width: 100%;
    padding-left: 60px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(204, 203, 203);
    font-size: 16px;
}
.wrapper-form .row-button .submit-login-1{
    padding-left: 0px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background: #16a085;
    border: 1px solid #16a085;
}
.submit-login-1{
    height: 100%;
    width: 100%;
    padding-left: 60px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(204, 203, 203);
    font-size: 16px;
    cursor: pointer;
}
.wrapper-form .row-button .submit-login-1:hover{
    background: #fff;
    color: #0e6b59;
}
.wrapper-form .wrapper-row i {
    position: absolute;
    width: 47px;
    display: flex;
    height: 100%;
    background: #0d705c;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    border-radius: 5px 0 0 5px;
}
.error-message {
    font-size: 18px;
    text-align: center;
    color: red;
}
