*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
}
.admin-login{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background: rgb(204, 203, 203);
}
.login-wrapper {
    width: 380px;
    background: #fff;
    border-radius: 5px;
}
.login-wrapper .wrapper-title{
    line-height: 80px;
    background-color: #0e6b59;
    padding-left: 20px;
    border-radius: 5px 5px 0 0;
    font-size: 25px;
    color: #fff;
    font-weight: 600;
}
.login-wrapper .wrapper-form{
    padding: 30px 20px 25px 20px;
}
.login-wrapper .wrapper-row {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}
.wrapper-form .wrapper-row .input-type-1{
    height: 100%;
    width: 100%;
    padding-left: 60px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(204, 203, 203);
    font-size: 16px;
}
.wrapper-form .row-button .submit-login-1{
    padding-left: 0px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background: #16a085;
    border: 1px solid #16a085;
}
.submit-login-1{
    height: 100%;
    width: 100%;
    padding-left: 60px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(204, 203, 203);
    font-size: 16px;
    cursor: pointer;
}
.wrapper-form .row-button .submit-login-1:hover{
    background: #fff;
    color: #0e6b59;
}
.wrapper-form .wrapper-row i {
    position: absolute;
    width: 47px;
    display: flex;
    height: 100%;
    background: #0d705c;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    border-radius: 5px 0 0 5px;
}
.error-message {
    font-size: 18px;
    text-align: center;
}
/* .main-container{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.left-container{
    flex: 0.2;
    height: 10vh;
    background: rgb(66, 66, 66);
    color: #fff;
    padding: 10px;
}
.right-container{
    flex: 0.8;
    height: 10vh;
    background: #0d705c;
    padding: 10px ;
} */

/* side bar styling */
.wrapper{
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    height: 100%;
}
.sidebar{
    width: 250px;
    height: 100%;
    background: #1b1b1b;
    padding: 30px 0px;
    position: fixed;
    left: -250px;
    transition: left 0.4s ease;
}
.sidebar h2{
    position: relative;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    top: -20px;
}

.menus{
    width: 250px;
    position: fixed;
    top: 45px;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
    left: -250px;
    transition: left 0.4s ease;
}
nav ul {
    width: 100%;
    list-style: none;
}
nav ul li {
    line-height: 60px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
nav ul li:last-child{
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
nav ul li a { 
    position:relative;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}
nav ul li a:hover{
    color: #1ba085;
    background: #3a3a3a;
    width: 250px;
    border-left-color: rgb(11, 206, 206);
}
nav ul li a i{
    padding-right: 10px;
    font-size: 18px;
    color: #fff;
}
nav ul ul{
    position: static;
    display: none;
}
nav ul .show-1.show,.show-2.show,.show-3.show{
    display: block;
}
nav ul ul li{
    line-height: 42px;
    border-bottom: none;
}
nav ul ul li a {
    font-size: 17px;
    color: #e6e6e6;
    padding-left: 60px;
    padding-right: 10px;
}
nav ul li a span{
    position: absolute;
    top:  50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
}
nav ul li a span.rotate{
    transform: translateY(-50%) rotate(-180deg);
}
.top-nav{
    position: absolute;
    display: flex;
    align-items: center;
    color: #fff;
    top: 0px;
    left: 0px;
    height: 45px;
    width: 100%;
    background: #0e6b59;
    border-radius: 3px;
    cursor: pointer;
    transition: left 0.4s ease;
}
.bars.click,.top-nav.click{
    left: 250px;
}
.bars.click span.fas::before{
    content: '\f00d';
}
.top-nav span.fas{
    position: relative;
    text-align: center;
    color: #fff;
    background: #0e6b59;
    width: 45px;
    height: 45px;
    font-size: 28px;
    line-height: 45px;
} 
.sidebar.show, .menus.show{
    left: 0px;
}
.mytitle {
    margin-left: 40px;
}
.user-log{
    display: flex;
    position: relative;
    left: 1230px;
    color: #fff;
    align-items: center;
}
.user-log i.logged-in{
    padding-right: 10px;
    font-size: 15px;
}
.user-log span.fa{
    font-size: 15px;
    padding-left: 10px;
}
.user-menu{
    display: none;
    position: relative;
    list-style: none;
    left: 1090px;
    top: 55px;
    background: #3a3a3a;
    padding: 10px;
}
.user-menu li a{
    color: #fff;
}
.user-menu li a i{
    padding-right: 10px;
    padding-bottom: 15px;
}
.user-menu.show-me{
    display: block;
}